<footer>
  <div class="container">
    <div class="row">
      <div class="six columns">
        <p class="text-muted">Built with <span class="fa fa-heart" title="love"></span> by <a href="http://chryw.github.io" target="_blank">Cherry Wang</a>.</p>
      </div>
      <div class="six columns"></div>
    </div>
  </div>
</footer>
<script data-main="{{ "/javascripts/main" | prepend: site.baseurl }}" src="{{ "/javascripts/require.js" | prepend: site.baseurl }}"></script>
<!-- google analytics code goes here -->
