body {
    margin: 0;
}
//header
.site-title {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    a {
        display: inline-block;
        &,
        &:visited {
            color: $color-white;
        }
    }
}
.avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 8px solid $color-white;
}
//page-content
.page-content {
    margin-top: $spacing-unit *2;
    margin-bottom: $spacing-unit *2;
}

//footer
footer {
    background-color: $color-smoke;
    .row {
        padding-top: $spacing-unit;
    }
}
