.pagination {
    display: table;
		margin-left: auto;
		margin-right: auto;
    & > li {
        display: table-cell;
        width: 32px;
        height: 32px;
        line-height: 32px;
				text-align: center;
				&:hover {
					cursor: pointer;
					background-color: fade-out($color-smoke, .5);
				}
				&.active {
					pointer-events: none;
					background-color: $color-smoke;
				}
    }
}
